* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: #f4f4f4;
    color: #000;
}

a {
    text-decoration: none;    
}

#home span {
    color: orange;
}

#header-main .container {
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border: 2px solid rgb(170, 166, 166);
    color: #000;
    margin: 2rem 1rem;
}

#main-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: #000;
}

#main-section .container h1 {
    font-size: 4rem;
    padding: 1rem;
}

#main-section .container img {
    height: 35rem;
    width: 35rem;
    border-radius: 25px;
    border: 1px solid gray;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 10px 10px 10px #333;
}

#main-section .container p {
    padding: 1rem;
    font-size: 2rem;
}

#social .container {
    display: flex;
    justify-content: space-around;
    background: #f4f4f4;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#social .social-content {
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: .75rem;
    margin-top: .75rem;
}

#social .social-content i.fab.fa-twitter {
    color: rgba(29,161,242,1.00);
    background: #fff;
    padding: 1rem;
}

#social .social-content i.fab.fa-linkedin-in {
    background: #0077b5;
    color: #fff;
    padding: 1rem;
}

#social .social-content i.fab.fa-facebook-f {
    background: #fff;
    color: #3578E5;
    padding: 1rem;
}

#social .social-content i.fab.fa-twitter:hover {
    cursor: pointer;
    color: coral;
}

#social .social-content i.fab.fa-linkedin-in:hover {
    cursor: pointer;
    color: coral;
}

#social .social-content i.fab.fa-facebook-f:hover {
    cursor: pointer;
    color: coral;
}

#social h1 {
    text-align: center;
    margin-top: 1rem;
}

#social .social-content i.fab.fa-twitter a {
    color: rgba(29,161,242,1.00);
}

#social .social-content i.fab.fa-facebook-f a {
    color: #3578E5;
}

#social .social-content i.fab.fa-linkedin-in a {
    color: #fff;
}



#contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

#contact .content-info {
    background: #f4f4f4;
    /* border: 1px solid #333; */
    border-radius: 5px ;
    padding: 3rem;
    margin-top: 1rem;
}

#contact .content-info p {
    font-size: 2rem;
    margin: .5rem;
}

#contact h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

 
@media(max-width: 450px) {
    #work .container {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    #work h1 {
        font-size: 3rem;
    }

    #header-main #main-nav {
        width: 130vw;
    }

    #header-main #main-nav .container {
        font-size: 1rem;
        width: 130vw;
        justify-content: space-evenly;
    }

    #main-section .container {
        width: 130vw;
    }

    #main-section .container img {
        height: 25rem;
        width: 25rem;
    }

    #social h1 {
        font-size: 2rem;
        width: 140vw;
    }

    #social .container{
        align-items: center;
        width: 140vw;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: none;
    }
  }

 